# =========================================================
# IGNORAR DATA Y ARCHIVOS MANEJADOS POR DVC
# =========================================================

# Ignorar toda la carpeta data/
data/*

# EXCEPCIONES: permitir solo los archivos .dvc y marcadores
!data/**/*.dvc
!data/**/.gitkeep

# DVC internal store
.dvcstore/
.dvc/store/

# DVC artifacts (si estás usando artifacts/)
artifacts/

# =========================================================
# MAC OS
# =========================================================
.DS_Store

# =========================================================
# PYTHON BASICS
# =========================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# =========================================================
# EDITORES / IDE
# =========================================================
.vscode/
.spyderproject
.spyproject
.ropeproject

# PyCharm
.idea/

# =========================================================
# LOGS
# =========================================================
*.log

# =========================================================
# MLFlow
# =========================================================
mlruns/

# =========================================================
# MODELOS / OUTPUT
# =========================================================
models/

# =========================================================
# TESTING
# =========================================================
.pytest_cache/
.coverage
.tox/
.nox/

# =========================================================
# JUPYTER
# =========================================================
.ipynb_checkpoints

# =========================================================
# BUILD / DIST
# =========================================================
build/
dist/
*.egg-info/
.eggs/
wheels/
share/python-wheels/
downloads/

# =========================================================
# OTROS SISTEMAS
# =========================================================
# mkdocs
docs/site/

# pip
pip-log.txt
pip-delete-this-directory.txt

# Celery
celerybeat-schedule
celerybeat.pid

# ruff
.ruff_cache/